*{
    padding: 0;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}

body{
    background-color: antiquewhite;
    overflow: auto;
    height: 50%;
    padding: 0;
    margin-top: 0;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: beige;
    margin-top: 0;
    padding-top: 3%;
}



nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

nav li:hover{
    background-color: white;
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 9999;
    padding: 20px; 
    box-sizing: content-box;
    text-align: center;
}

#mobileToggleBtn {
    display: none; 
}

.fa-bars{
    display: block;
    height: 15px;
    color: orangered;
}

@media only screen and (max-width: 768px) {
    .desktop-navbar {
        display: none;
    }

    #mobileToggleBtn {
        display: block;
    }
}

.footer {
    display: block;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    border: 1px solid orangered;
    width: 100%;
    background-color: beige;
    color: black;
    text-align: center;
    margin: 6px;
    margin-top: 6;
    margin-left: 0;
  }

  a{
    color: black;
    text-decoration: none;
  }

.fa-instagram{
    color: darkorange;

}

.fa-facebook{
    color: darkblue;
}


.fa-facebook:hover{
    color: black;
}

.fa-instagram:hover{
    color: purple;
}


#o90{
    text-align: left;
    color: darkred;
}

hr {
    height: 5px;
    width: 15%;
    background: linear-gradient(to right, #FF0000, orange);
    border: none; 
    margin: 20px 0; 
  }

  .drt{
   font-family: Garamond;
   align-self: center;
   padding-left: 5%;
   padding-right: 5%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .disclaimer {
    background-color: black; 
    color: #333; 
    padding: 1px; 
    margin-top: 0px; 
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: -1;
    overflow-x: hidden;
}

#foo{
    color: white;
}

.ijk{
    height: 1px;
    width: 100%;
    background: orangered;
    border: none; 
    margin: 0px 0; 
}

.kabh{
    margin-bottom: 9px;
}

  @media only screen and (max-width: 412px) {

    body{
        background-color: antiquewhite;
        overflow: auto;
        overflow-x: hidden;
    }
    
    
    header{
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        background-color: beige;
        margin-top: 0;
        margin-left: 0;
    }

    nav li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 17px;
        width: 100px;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    
    
    .footer {
        display: block;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        border: 2px solid;
        width: 100%;
        height: 5%;
        background-color: beige;
        color: black;
        text-align: center;
      }
    
      a{
        color: black;
      }
    
    .fa-instagram{
        color: darkorange;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: purple;
    }
    
    
    #o90{
        text-align: left;
        color: darkred;
    }
    
    hr {
        height: 5px;
        width: 40%;
        background: linear-gradient(to right, #FF0000, orange);
        border: none; 
        margin: 20px 0; 
      }
    
      .drt{
       font-family: Garamond;
       align-self: center;
       padding-left: 5%;
       padding-right: 5%;
       padding-top: 2%;
      }
    
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }

      .kabivin{
        margin-top: 30px;
      }

      .lgh{
        margin-top: 20px;
      }

  }
  

