body{
    background-color: antiquewhite;
    padding-bottom: 00px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}


h1{
    text-align: center;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0%;
    background-color: beige;
    margin-top: 0;
    border-bottom: 2px solid orangered;
    margin-left: 0;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

nav li:hover{
    background-color: white;
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 9999;
    padding: 20px; 
    box-sizing: content-box;
    text-align: center;
}

#mobileToggleBtn {
    display: none; 
}

.fa-bars{
    display: block;
    height: 15px;
    color: orangered;
}

@media only screen and (max-width: 768px) {
    .desktop-navbar {
        display: none;
    }

    #mobileToggleBtn {
        display: block;
    }
}

.footer {
    display: block;
    left: 0;
    bottom: 0;
    border: 2px solid;
    width: 100%;
    background-color: beige;
    color: black;
    border: 2px solid orangered;
    text-align: center;
    margin-top: 2;
  }

hr{
    background-color: orangered;
    color: orangered;
    width: 100%;
    height: 5px solid;
    margin-top: 0;
}

a{
    color: black;
    text-decoration: none;
}

.fa-instagram{
    color: darkorange;

}

.fa-facebook{
    color: darkblue;
}


.fa-facebook:hover{
    color: black;
}

.fa-instagram:hover{
    color: purple;
}

.fa-phone{
    cursor: pointer;
}

.fa-phone:hover{
    color:  #FF0000;
}

.disclaimer {
    background-color: black;
    color: white;
    padding: 7px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    align-items: baseline;
    align-self: center;
    margin-left: -1%;
}

#foo{
    color: white;
}

.con{
    text-align: center;
    font-size: 20px;
}

.kabivin{
    margin-left: 65%;
    margin-top: 13%;
    font-size: 2em;
}

.lgh{
    margin-left: 135%;
    margin-top: 7%;
}

@media only screen and (max-width: 412px) {

    body{
        background-color: antiquewhite;
        padding-bottom: 300px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    main{
        margin-left: 20px;
        margin-right: 20px;
    }

    h1{
        text-align: center;
    }
    
    header{
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0%;
        background-color: beige;
        overflow-x: hidden;
    }
    .logo{
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
    nav li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
        margin-left: 0%;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    
    .footer {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        border: 2px solid orangered;
        width: 100%;
        height: 150px;
        background-color: beige;
        color: black;
        text-align: center;
        margin-bottom: 7%;
        margin-right: 60%;
      }

      .disclaimer {
        background-color: black;
        color: #333;
        padding: 7px;
        margin-top: 0px;
        position: absolute;
        width: 100%;
        padding-bottom: 29px;
        text-align: center;
        align-items: baseline;
        align-self: center;
    }
    
    a{
        color: black;
    }
    
    .fa-instagram{
        color: darkorange;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: purple;
    }

    .kabivin{
        margin-left: -20%;
        font-size: 30px;
    }

    .lgh{
      cursor: pointer;
      margin-left: -40px;
    }

    .fa-bars{
        margin-left: -0%;
    }
}

@media(max-width: 375px){
    
    body{
        max-width: 375px;
    }

    header{
        width: 10%;
    }
}