body{
    background-color: #FFFDD0;
    padding-bottom: 00px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    overflow-x: hidden;
}

header{
    width: 91%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: beige;
    margin: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 0px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: dashed;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}

nav li:hover{
    background-color: white;
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 9999;
    padding: 20px; 
    box-sizing: content-box;
    text-align: left;
}

#mobileToggleBtn {
    display: none; 
}

.fa-bars{
    display: block;
    height: 15px;
    color: orangered;
}

@media only screen and (max-width: 768px) {
    .desktop-navbar {
        display: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #mobileToggleBtn {
        display: block;
    }
}

.footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 11.7%;
    padding-bottom: 18px;
    background-color: beige;
    color: black;
    border: 2px solid orangered;
    text-align: center;
    margin: 0px;
    margin-top: 2;
  }

hr{
    width: 100%;
    height: 2px;
    background-color: orangered;
    margin-top: 0;
}

.lgh{
    margin-top: 13px;
    margin-bottom: 1px;
}

a{
    color: black;
    text-decoration: none;
}


.fa-instagram{
    color: darkorange;
    display: inline;

}

.fa-facebook{
    color: darkblue;
}


.fa-facebook:hover{
    color: black;
}

.fa-instagram:hover{
    color: purple;
}



.disclaimer {
    background-color: black; 
    color: white; 
    padding: 7px; 
    margin-top: 0px; 
    margin: 0px;
    margin-left: -1%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.hjo{
    cursor: pointer;
    width: 100%;
}

.hju{
    cursor: pointer;
    width: 100%;
}

.hjo:hover{
    width: 101%;
}

.hju:hover{
    width: 101%;
} 

.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-with-text {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .text-overlay h2 {
    margin-top: 0;
  }

.kabivin{
    margin-left: -60%;
    font-size: 2em;
}

@media only screen and (max-width: 768px) {

    body{
        background-color: #FFFDD0;
        padding-bottom: 0px;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        overflow-x: hidden;
    }
    
    header{
        width: 90%;
        height: 95px;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10%;
        background-color: beige;
        margin: 0;
        margin-top: 0;
        overflow-x: hidden;
    }
    
    nav li{
        display: inline-block;
        list-style: none;
        padding: 5px 5px 0px;
        text-decoration: dashed;
        cursor: pointer;
        font-size: 20px;
        text-align: left;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    
    .footer {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        border: 2px solid;
        width: 45%;
        height: 15%;
        background-color: beige;
        color: black;
        border: 2px solid orangered;
        text-align: center;
        margin: 0px;
        margin-top: 2;
        overflow-y: hidden;
        padding-bottom: 0;
      }
    
    hr{
        width: 250%;
        height: 2px;
        background-color: orangered;
        margin-top: 0;
    }
    
    .lgh{
        margin-top: 13px;
        margin-bottom: 1px;
    }
    
    a{
        color: black;
        text-decoration: none;
    }
    
    
    .fa-instagram{
        color: darkorange;
        display: inline;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: purple;
    }
    
    
    
    .disclaimer {
        background-color: black; 
        position: absolute;
        color: white; 
        padding: 7px; 
        padding-bottom: 0;
        margin-top: 0px; 
        margin: 0px;
        margin-left: -1%;
        position: absolute;
        width: 90%;
        text-align: center;
    }
    
    .hjo{
        cursor: pointer;
        width: 80%;
        height: 150%;
    }
    
    .hju{
        cursor: pointer;
        width: 80%;
        height: 150%;
    }
    
    .hjo:hover{
        width: 101%;
    }
    
    .hju:hover{
        width: 101%;
    } 
    
    .image-container {
        display: flex;
        justify-content: space-between;
        display: block;
      }
      
      .image-with-text {
        position: relative;
        width: 130%;
        overflow-x: hidden;
      }
      
      .text-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7); 
        color: white;
        padding: 20px;
        text-align: center;
        width: 90%;
      }
      
      .text-overlay h2 {
        margin-top: 0;
      }
    
    .kabivin{
        margin-left: 50%;
    }
    
}