*{
    margin: 0px;
    padding: 0;
    padding-bottom: 0px;
    box-sizing: border-box;
}

body {
    position: relative; 
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
    /* background-image: url(../imagini/kabivin-bg\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.section-1{
    margin-top: 0;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: beige;
    margin-top: 0;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

nav li:hover{
    background-color: white;
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid orangered;
    width: 100%;
    height: 20%;
    background-color: beige;
    text-align: center;
  }

#foo{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h2 {
    font-size: 44px;
    margin-bottom: 10px;
    color: black;
    font-family: "Great Vibes", cursive;
  }
  
 
  

.disclaimer {
    background-color: black;
    color: #333; 
    padding: 9px; 
    margin-top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}


a{
    color: black;
    text-decoration: none;
}

.lgh{
    margin-top: 7px;
}

#hr{
    margin: 10px;
    border: 0px;
}

.fa-instagram{
    color: darkorange;

}

.fa-facebook{
    color: darkblue;
}


.fa-facebook:hover{
    color: black;
}

.fa-instagram:hover{
    color: darkviolet;
}

.text-overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px; 
}
.btyn{
  background-color: beige;
  color: black;
  border-radius: 30px;
  font-size: 35px;
  border: 2px solid;
  align-self: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0px;
    margin-top: 5%;
}

.btyn:hover{
  background-color: lightyellow;
  border: 2px solid;
  color: black;
  font-size: 40px;
}


#pi{
    text-align: center;
    color: black;
    margin-top: 200px;
    margin-left: 620px;
    float: left;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    bottom: 0;
    margin-bottom: 0px;
    margin-top: 3%;
  }
  
  .mySlides {
    display: none;
  }
  
hr{
    width: 100%;
    height: 3px;
    background-color: orangered;
}

@media screen and (max-width: 412px) {

    *{
        margin: 0px;
        padding: 0;
        padding-bottom: 0px;
        box-sizing: border-box;
    }
    
    body {
        position: relative; 
        padding-bottom: 200px;
        justify-content: center;
        align-items: center;
        /* background-image: url(../imagini/kabivin-bg\ \(1\).jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    }
    
    .section-1{
       margin-top: 0;
    }
    
    header{
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        background-color: beige;
        margin-top: 0;
    }
    
    .logo{
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
    nav li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        border: 1px solid orangered;
        width: 100%;
        height: 17%;
        background-color: beige;
        text-align: center;
      }
    
    #foo{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }
      
      .text-overlay h2 {
        font-size: 44px;
        margin-bottom: 10px;
        color: black;
        font-family: "Great Vibes", cursive;
      }
      
     
      
    
    .disclaimer {
        background-color: black;
        color: #333; 
        padding: 9px; 
        margin-top: 0px;
        position: fixed;
        width: 100%;
        text-align: center;
        bottom: 0;
    }
    
    
    a{
        color: black;
        text-decoration: none;
    }
    
    .lgh{
        margin-top: 7px;
    }
    
    #hr{
        margin: 10px;
        border: 0px;
    }
    
    .fa-instagram{
        color: darkorange;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: darkviolet;
    }
    
    .text-overlay {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; 
        text-align: center;
        width: 100%;
    }
    
    h1 {
        margin: 0;
        font-size: 24px; 
    }
    .btyn{
      background-color: beige;
      color: black;
      border-radius: 30px;
      font-size: 35px;
      border: 2px solid;
      align-self: center;
      text-align: center;
      cursor: pointer;
      width: 74%;
      margin-bottom: 0px;
      margin-top: 5%;
        
    }
    
    .btyn:hover{
      background-color: lightyellow;
      border: 2px solid;
      color: black;
      font-size: 40px;
    }
    
    
    #pi{
        text-align: center;
        color: black;
        margin-top: 200px;
        margin-left: 620px;
        float: left;
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 56px;
    }
    
    .slideshow-container {
        max-width: 500px;
        width: 500px;
        position: relative;
        margin: auto;
        bottom: 0;
        margin-bottom: 0px;
        margin-top: 3%;
      }
      
      .mySlides {
        display: none;
      }
      
    hr{
        width: 100%;
        height: 3px;
        background-color: orangered;
    }

    .imgh{
        max-width: 407px;
        width: 407px;
    }
  }




