*{
    margin: 0px;
    padding: 0;
    padding-bottom: 0px;
    box-sizing: border-box;
}

body {
    position: relative; 
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.section-1{
    margin-top: 0;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: beige;
    margin-top: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

nav li:hover {
    background-color: white;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 9999;
    padding: 20px; 
    box-sizing: content-box;
    text-align: center;
}

#mobileToggleBtn {
    display: none; 
}

.fa-bars{
    display: block;
    height: 15px;
    color: orangered;
}

@media only screen and (max-width: 768px) {
    .desktop-navbar {
        display: none;
    }

    #mobileToggleBtn {
        display: block;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid orangered;
    width: 100%;
    height: 20%;
    background-color: beige;
    text-align: center;
  }

#foo{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h2 {
    font-size: 44px;
    margin-bottom: 10px;
    color: black;
    font-family: "Great Vibes", cursive;
  }
  
 
  

.disclaimer {
    background-color: black;
    color: #333; 
    padding: 9px; 
    margin-top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-left: 0;
}


a{
    color: black;
    text-decoration: none;
}



#hr{
    margin: 10px;
    border: 0px;
}

.fa-instagram{
    color: darkorange;

}

.fa-facebook{
    color: darkblue;
}


.fa-facebook:hover{
    color: black;
}

.fa-instagram:hover{
    color: darkviolet;
}

.text-overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px; 
}
.btyn{
  background-color: beige;
  color: black;
  border-radius: 30px;
  font-size: 35px;
  border: 2px solid;
  align-self: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0px;
    margin-top: 5%;
}

.btyn:hover{
  background-color: lightyellow;
  border: 2px solid;
  color: black;
  font-size: 40px;
}


#pi{
    text-align: center;
    color: black;
    margin-top: 200px;
    margin-left: 620px;
    float: left;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    bottom: 0;
    margin-bottom: 0px;
    margin-top: 3%;
  }
  
  .mySlides {
    display: none;
  }
  
hr{
    width: 100%;
    height: 3px;
    background-color: orangered;
}

.kabivin{
    font-size: 32px;
    margin-top: -4%;
}

.lgh{
    margin-top: 7px;
}

.dropdown{
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

.dropdown a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}

.dropdown .content{
    display: none;
    background-color: gray;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}

.dropdown a:hover{
    background-color: gainsboro;
}


@media screen and (max-width: 412px) {

    *{
        margin: 0px;
        padding: 0;
        padding-bottom: 50px;
        box-sizing: border-box;
        max-width: 412px;
    }
    
    body {
        position: relative; 
        padding-bottom: 200px;
        justify-content: center;
        align-items: center;
        background-color: burlywood;
        max-width: 412;
        overflow-x: hidden;
    }
    
    .section-1{
        margin-top: 0;
        width: 100%;
    }
    
    header{
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0%;
        background-color: beige;
        margin-top: 0;
    }
    
    nav li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        border: 1px solid orangered;
        width: 100%;
        height: 0%;
        padding: 5px 5px;
        padding-bottom: 0;
        background-color: beige;
        text-align: center;
        overflow-y: hidden;
      }
    
    #foo{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }
      
      .text-overlay h2 {
        font-size: 44px;
        margin-bottom: 10px;
        color: black;
        font-family: "Great Vibes", cursive;
      }
      
     
      
    
    .disclaimer {
        background-color: black;
        color: #333; 
        padding: 9px; 
        margin-top: 0px;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        margin-left: 0;
        padding-bottom: 0%;
    }
    
    
    a{
        color: black;
        text-decoration: none;
    }
    
    
    
    #hr{
        margin: 10px;
        border: 0px;
    }
    
    .fa-instagram{
        color: darkorange;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: darkviolet;
    }
    
    .text-overlay {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; 
        text-align: center;
        width: 100%;
    }
    
    h1 {
        margin: 0;
        font-size: 24px; 
    }
    .btyn{
      background-color: beige;
      color: black;
      border-radius: 30px;
      font-size: 35px;
      border: 2px solid;
      align-self: center;
      text-align: center;
      cursor: pointer;
      width: 100%;
      width: 300px;
      margin-left: 2%;
      margin-bottom: 20px;
      margin-top: 5%;
    }
    
    .btyn:hover{
      background-color: lightyellow;
      border: 2px solid;
      color: black;
      font-size: 40px;
    }
    
    
    #pi{
        text-align: center;
        color: black;
        margin-top: 200px;
        margin-left: 620px;
        float: left;
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 56px;
    }
    
    .slideshow-container {
        max-width: 400px;
        width: 400px;
        width: fit-content;
        position: relative;
        margin: auto;
        bottom: 0;
        margin-bottom: 0px;
        margin-top: 3%;
      }
      
      .mySlides {
        display: none;
      }
      
    hr{
        width: 100%;
        height: 3px;
        background-color: orangered;
    }
    
    .kabivin{
        font-size: 32px;
        margin-top: -4%;
    }
    
    .lgh{
        margin-top: 7px;
    }
  }

@media (max-width: 375px){

    body{
        max-width: 370px;
    }
}

@media(max-width: 540px){
    *{
        margin: 0px;
        padding: 0;
        padding-bottom: 0px;
        box-sizing: border-box;
        max-width: 412px;
    }
    
    body {
        position: relative; 
        padding-bottom: 200px;
        justify-content: center;
        align-items: center;
        background-color: burlywood;
        max-width: 412;
    }
    
    .section-1{
        margin-top: 0;
        width: 100%;
    }
    
    header{
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0%;
        background-color: beige;
        margin-top: 0;
    }
    
    nav li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    nav li:hover{
        background-color: white;
        display: inline-block;
        list-style: none;
        padding: 20px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        border: 1px solid orangered;
        width: 100%;
        height: 20%;
        background-color: beige;
        text-align: center;
      }
    
    #foo{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }
      
      .text-overlay h2 {
        font-size: 44px;
        margin-bottom: 10px;
        color: black;
        font-family: "Great Vibes", cursive;
      }
      
     
      
    
    .disclaimer {
        background-color: black;
        color: #333; 
        padding: 9px; 
        margin-top: 0px;
        position: fixed;
        width: 100%;
        text-align: center;
        bottom: 0;
        margin-left: 0;
        padding-bottom: 0%;
    }
    
    
    a{
        color: black;
        text-decoration: none;
    }
    
    
    
    #hr{
        margin: 10px;
        border: 0px;
    }
    
    .fa-instagram{
        color: darkorange;
    
    }
    
    .fa-facebook{
        color: darkblue;
    }
    
    
    .fa-facebook:hover{
        color: black;
    }
    
    .fa-instagram:hover{
        color: darkviolet;
    }
    
    .text-overlay {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; 
        text-align: center;
        width: 100%;
    }
    
    h1 {
        margin: 0;
        font-size: 24px; 
    }
    .btyn{
      background-color: beige;
      color: black;
      border-radius: 30px;
      font-size: 35px;
      border: 2px solid;
      align-self: center;
      text-align: center;
      cursor: pointer;
      width: 100%;
      width: 300px;
      margin-left: 2%;
      margin-bottom: 0px;
        margin-top: 5%;
    }
    
    .btyn:hover{
      background-color: lightyellow;
      border: 2px solid;
      color: black;
      font-size: 40px;
    }
    
    
    #pi{
        text-align: center;
        color: black;
        margin-top: 200px;
        margin-left: 620px;
        float: left;
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 56px;
    }
    
    .slideshow-container {
        max-width: 540px;
        width: 540px;
        position: relative;
        margin: auto;
        bottom: 0;
        margin-bottom: 0px;
        margin-top: 3%;
      }
      
      .mySlides {
        display: none;
      }
      
    hr{
        width: 100%;
        height: 3px;
        background-color: orangered;
    }
    
    .kabivin{
        font-size: 32px;
        margin-top: -4%;
    }
    
    .lgh{
        margin-top: 7px;
    }
  }

